@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');
html,body {
  heigh: 100%;
  width: 100%;
  color: #222;

    padding-top: 70px;

}
.navbar{
  padding: 0.8rem;

  /*max-height: 100px;*/
}
.bg-nav{
  background-color: /*#E35C56*/ #CAED58;
}
.navbar-nav li{
  padding-right: 30px;
}
.navbar-nav .nav-item:hover{
  font-weight: bold;
}
.padding{
  padding-bottom: 2rem;
}
.padding-top{
  padding-top:3rem;
}
.mockup{
  padding: 4rem;
  font-weight: normal;

}
.btn-primary{
  background-color: #59424F; /*  lila buch #7D2286*/
  border: 1px solid #3A2B40;
}
.btn-primary:hover{
  background-color: #3A2B40 ;
  border: 1px solid #3A2B40;
}
.welcome{
  width:75%;
  margin:0 auto;
  padding-top:2rem;
}
.padtext{
  padding: 30px
}

.under hr{
  color: black;
}
/*  color: black;
  border-top: 2px;
  width: 95%;
  margin-top: .3rem;
  margin-bottom: 1rem;
  margin-left: 0;
 margin-right: 0;*/
.page-footer{
  background-color: #59424F;
  padding: .5rem;
}
.page-footer .foot-link{
  color: white;

}
.foot-link:hover{
  text-decoration: none;
  color: grey;
}
